main {
  text-align: center;
}

.ref:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.ref:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.ref:hover {
  color: blue;
  background-color: transparent;
}

footer {
  bottom: 0%;
}
