main {
  text-align: center;
}

footer {
  bottom: 0%;
}

b.gmf {
  color: green;
}

/**
 * Each entry shall be a div of some class that defines its style.
 */

/**
 * .good
 */
.good > h1 > b > a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.good > h1 > b > a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.good > h1 > b > a:hover {
  color: blue;
  background-color: transparent;
}

/**
 * .great
 */
.great {
  font-size: larger;
}

.great > h1 > b > a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.great > h1 > b > a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.great > h1 > b > a:hover {
  color: blue;
  background-color: transparent;
}

/**
 * .outstanding
 */
.outstanding {
  font-size: larger;
}

.outstanding > h1 > b > a:link {
  color: goldenrod;
  background-color: transparent;
  text-decoration: none;
}

.outstanding > h1 > b > a:visited {
  color: goldenrod;
  background-color: transparent;
  text-decoration: none;
}

.outstanding > h1 > b > a:hover {
  color: blue;
  background-color: transparent;
}

/**
 * .barbie
 */
.barbie {
  font-size: larger;
}

.barbie > h1 > b > a:link {
  color: #F638A2;
  background-color: transparent;
  text-decoration: none;
}

.barbie > h1 > b > a:visited {
  color: #F638A2;
  background-color: transparent;
  text-decoration: none;
}

.barbie > h1 > b > a:hover {
  color: blue;
  background-color: transparent;
}
